@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.site-main,
.base-layout {
	height: 100%;
}

.base-layout {
	@apply grid;
	grid-template-rows: auto 1fr auto;
}

.darkener:before {
	content: '';
	@apply absolute inset-0 bg-darken-slight;
}
